In [1]:
import ipyleaflet
import json
import pandas as pd
import os
import requests
import geopandas
from ipywidgets import link, FloatSlider
from branca.colormap import linear

In [2]:
data = pd.read_csv('current.csv')
data

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,notes,dataQualityGrade,...,checkTimeEt,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,hash
0,AK,364,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 15:39,9,NaN,20325,20325,20325,2,2020-05-01T18:00:00Z,2020-05-01T19:39:00Z,eb48deac3b822cb46b87d892a41a10481600558f
1,AL,7158,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 15:30,279,1008.0,91933,91933,91933,1,2020-05-01T04:00:00Z,2020-05-01T19:30:00Z,d2bb3e67208a9c101e28bf9949ac1b51a3266ab8
2,AR,3321,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:05,64,414.0,49676,49676,49676,5,2020-05-01T18:50:00Z,2020-05-01T20:05:00Z,604f0be8da9fea0517860a35664e43bdf9485db4
3,AZ,7962,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 16:21,330,1203.0,74879,74879,74879,4,2020-05-01T04:00:00Z,2020-05-01T20:21:00Z,e827098cb280b5aa5d0620368c5d4b2b31882d4c
4,CA,50442,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:54,2073,NaN,654985,654985,654985,6,2020-04-30T04:00:00Z,2020-05-01T20:54:00Z,38cb94b2b9a03d9d30faa95b1f5cebf63ed16e9e
5,CO,15284,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:13,777,2697.0,72390,72390,72390,8,2020-05-01T04:00:00Z,2020-05-01T20:13:00Z,2835ae8226adbdbf5f23976e42b770b689117692
6,CT,28764,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 17:06,2339,7758.0,100257,100257,100257,9,2020-05-01T04:00:00Z,2020-05-01T21:06:00Z,75a60102c1bd6fb3f3b4cb239638b95f16291990
7,DC,4658,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:20,231,NaN,21135,21135,21135,11,2020-04-30T04:00:00Z,2020-05-01T20:20:00Z,5a62ae6592431b0c47583bb40cc58a2ad8caf7b3
8,DE,4918,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:31,159,NaN,22585,22585,22585,10,2020-05-01T17:15:00Z,2020-05-01T18:31:00Z,e9473491807b7cdc76b741d3b12d84a76b4bf679
9,FL,34728,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 14:59,1314,5795.0,402699,402699,402699,12,2020-05-01T18:32:00Z,2020-05-01T18:59:00Z,68af2732217654a959831bb43d272be37e5776a5
10,GA,27270,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 15:02,1154,5269.0,168367,168367,168367,13,2020-05-01T18:25:00Z,2020-05-01T19:02:00Z,44e72c93febd575ba222f4943b626e62277618b0
11,HI,618,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 15:40,16,70.0,31094,31094,31094,15,2020-04-30T04:00:00Z,2020-05-01T19:40:00Z,689d07e15b31e8394bb0fd78e1014366ad1ebaf1
12,IA,7884,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 15:20,170,NaN,45592,45592,45592,19,2020-04-30T16:00:00Z,2020-05-01T19:20:00Z,24592e09294bb5073662b959e43bc51f395633ba
13,ID,2015,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 15:47,63,178.0,29225,29225,29225,16,2020-04-30T23:00:00Z,2020-05-01T19:47:00Z,c201f3840e3fb607e6203e1242224d904c0938b0
14,IL,56055,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:41,2457,NaN,284688,284688,284688,17,2020-05-01T04:00:00Z,2020-05-01T20:41:00Z,26c6566a0480caa2b2811e0b64ea0ad0775ad121
15,IN,18630,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 15:44,1175,NaN,99639,99639,99639,18,2020-05-01T03:59:00Z,2020-05-01T19:44:00Z,9e1cb728f8ba60b30a9bbca8561294549d1a5aae
16,KS,4449,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 14:49,130,534.0,33034,33034,33034,20,2020-05-01T14:00:00Z,2020-05-01T18:49:00Z,fde9fd48b8a84f6ca6e402e244b4b381ae0aee59
17,KY,4708,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:58,240,1375.0,56612,56612,56612,21,2020-04-30T21:00:00Z,2020-05-01T20:58:00Z,7f020dc293ded83328d243bf167e6af6edfc7450
18,LA,28711,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:56,1927,NaN,168251,168251,168251,22,2020-05-01T17:00:00Z,2020-05-01T18:56:00Z,dfdbf7d1fe437c12b3ca321df1bef46e843c6193
19,MA,64311,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:55,3716,6169.0,289636,289636,289636,25,2020-05-01T16:00:00Z,2020-05-01T20:55:00Z,aa5a0d96fdaeeb86822ce8c8f676c1e2a12f3f9a
20,MD,23472,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:57,1192,4718.0,120983,120983,120983,24,2020-05-01T14:00:00Z,2020-05-01T20:57:00Z,494670f91ed58a36c478e8147aa983538324544b
21,ME,1123,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:29,55,177.0,20669,20669,20669,23,2020-05-01T15:45:00Z,2020-05-01T18:29:00Z,6a6ff74a60f772de0d58302550a0eece701959c9
22,MI,42356,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 17:02,3866,NaN,190505,190505,190505,26,2020-05-01T15:00:00Z,2020-05-01T21:02:00Z,df7617468b82a63f8d349db447e14392ce42aee5
23,MN,5730,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 15:02,371,1096.0,74829,74829,74829,27,2020-04-30T21:00:00Z,2020-05-01T19:02:00Z,1ab37a215502fa777279dc1d1ee855677e7be532
24,MO,7835,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 15:57,337,NaN,82425,82425,82425,29,2020-05-01T19:00:00Z,2020-05-01T19:57:00Z,41f1525dbb460ae238296ffc851bd96306a6e5df
25,MS,7212,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 15:38,281,1226.0,71548,71548,71548,28,2020-04-30T04:00:00Z,2020-05-01T19:38:00Z,eff9d02e146c0a335b99b20f0b2d59677b67ffce
26,MT,453,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:01,16,61.0,14203,14203,14203,30,2020-04-30T04:00:00Z,2020-05-01T20:01:00Z,f5d2d581a763b1c88eb6e47e64bbd292f62613a5
27,NC,10923,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:25,399,NaN,133832,133832,133832,37,2020-05-01T15:00:00Z,2020-05-01T20:25:00Z,c3ac856f8ec310221d2f2cbc41ee843e11dd349a
28,ND,1107,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:26,23,86.0,29525,29525,29525,38,2020-05-01T17:00:00Z,2020-05-01T20:26:00Z,4b33f2e30c79f09d6186a4f6ba1eb68bb4f5ed4b
29,NE,4281,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/01 17:00,70,NaN,27385,27385,27385,31,2020-04-30T23:45:00Z,2020-05-01T21:00:00Z,ebbbfc337413b64879b61286369163aedd093a29
30,NH,2146,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:42,72,262.0,22351,22049,22049,33,2020-04-30T13:00:00Z,2020-05-01T20:42:00Z,c96bc3ef923b8d75b843b1668b4d4047fdd4d1cf
31,NJ,121190,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 16:59,7538,NaN,257128,256545,256545,34,2020-05-01T17:00:00Z,2020-05-01T20:59:00Z,54915dcbd1372a25e4b738f873d6e3076fa09d7e
32,NM,3411,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:53,123,536.0,67869,67869,67869,35,2020-05-01T14:55:00Z,2020-05-01T20:53:00Z,d2e2a35edf6780308cdda4f508d60448ab7adcf9
33,NV,5227,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/01 14:36,243,NaN,43595,43595,43595,32,2020-05-01T14:00:00Z,2020-05-01T18:36:00Z,ab68c2c612685a0bccad2aeba961952f9254e26a
34,NY,308314,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:08,18610,67180.0,927438,927438,927438,36,2020-05-01T04:00:00Z,2020-05-01T20:08:00Z,d5e13d06a99a80369c94c584f88e1ff4fcc6d407
35,OH,18743,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:52,1002,3634.0,140506,140506,140506,39,2020-05-01T18:00:00Z,2020-05-01T18:52:00Z,79b546b67c8c7f4d702d85c79e228ce43c9aaf68
36,OK,3748,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:20,230,715.0,63552,63552,63552,40,2020-05-01T04:00:00Z,2020-05-01T20:20:00Z,d14119bc4a0d8c581496358257f918ae7c240283
37,OR,2579,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/01 16:43,104,591.0,58176,58176,58176,41,2020-05-01T15:00:00Z,2020-05-01T20:43:00Z,2b8dc9795eb843060a6c416d8f6d3311a72e0cfc
38,PA,46971,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:45,2354,NaN,227448,227448,227448,42,2020-05-01T19:30:00Z,2020-05-01T20:45:00Z,f4b713ef8c7c41494af9f31d891e6bfe24d00f74
39,RI,8962,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 16:40,279,937.0,66648,66648,66648,44,2020-05-01T16:00:00Z,2020-05-01T20:40:00Z,df35813b97a5eb8b99f500348627b39226a7539a
40,SC,6258,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 17:06,256,1110.0,59379,59379,59379,45,2020-05-01T20:00:00Z,2020-05-01T21:06:00Z,2caed382799142bedd238d8a64ecdfe2912d8e42
41,SD,2525,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:50,21,179.0,17363,17363,17363,46,2020-05-01T15:28:00Z,2020-05-01T20:50:00Z,b4262d941f8fdd40ca301842a68056ff151b589f
42,TN,11891,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 16:18,204,1113.0,186132,186132,186132,47,2020-05-01T19:00:00Z,2020-05-01T20:18:00Z,5c270c5130a9ff981f1809382dbf3c70439e3a34
43,TX,29229,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:43,816,NaN,351775,351775,351775,48,2020-05-01T17:00:00Z,2020-05-01T18:43:00Z,3a5fff508652e93328e4693434896ea6896b28ec
44,UT,4828,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 15:23,46,403.0,112558,112558,112558,49,2020-05-01T19:00:00Z,2020-05-01T19:23:00Z,82bdb12afbe488973d791239646f849b1461f338
45,VA,16901,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 15:40,581,3654.0,106116,105648,105648,51,2020-04-30T21:00:00Z,2020-05-01T19:40:00Z,f624e72e4287f08fb5e698a8dfb8198f3c07287f
46,VT,879,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:20,50,NaN,16233,16233,16233,50,2020-05-01T14:10:00Z,2020-05-01T20:20:00Z,0d6283bdc0a4e719f96361e9e1e9188be138e7eb
47,WA,14327,0.0,1.0,0.0,1.0,C,2.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/01 14:38,814,NaN,193981,193981,193981,53,2020-04-30T06:59:00Z,2020-05-01T18:38:00Z,d9f4a31dd777c999bee12b248f702c3596680207
48,WI,7314,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/01 15:33,327,1544.0,80098,79880,79880,55,2020-05-01T20:00:00Z,2020-05-01T19:33:00Z,93c4711c585baa824cf16dc20a469cd10f7e17a4
49,WV,1136,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:26,46,NaN,46844,46844,46844,54,2020-05-01T14:00:00Z,2020-05-01T20:26:00Z,a7e6f25c16aad5a93c3ab30b35113fbd3dbdec1e
50,WY,559,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:23,7,56.0,9695,9695,9695,56,2020-04-30T04:00:00Z,2020-05-01T20:23:00Z,3e75f92f88a0187b4b84421a32380d1ffef42b06
51,PR,1575,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/01 16:53,92,NaN,10888,10888,10888,72,2020-05-01T10:00:00Z,2020-05-01T20:53:00Z,6f0a29dba6c093549b80923df89364ac8c27c6d9
52,AS,0,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",F,...,5/01 17:13,0,NaN,57,57,57,60,2020-05-01T04:00:00Z,2020-05-01T21:13:00Z,977ea492da627dc6530a4dfcf2016da652e5c9fd
53,GU,146,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",F,...,5/01 15:34,5,NaN,3005,3005,3005,66,2020-05-01T12:15:00Z,2020-05-01T19:34:00Z,a2117bb453b3c471f2c356a5581b66dd1d048e29
54,MP,14,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",D,...,5/01 16:10,2,NaN,763,763,763,69,2020-05-01T10:27:00Z,2020-05-01T20:10:00Z,f279410d3a3594b486816d7a0fe50b10cb3581c9
55,VI,66,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",C,...,5/01 16:19,4,NaN,945,877,877,78,2020-05-01T00:37:00Z,2020-05-01T20:19:00Z,95000649ed7285d8c31e367e50210976b42b875b

In [8]:
# drop U.S. Territories (only include states)
data = data[data['state'] != 'DC']
data = data[data['state'] != 'PR']
data = data[data['state'] != 'AS']
data = data[data['state'] != 'AS']
data = data[data['state'] != 'GU']
data = data[data['state'] != 'MP']
data = data[data['state'] != 'VI']

# groupby and sum positive cases
group_by_state = data.loc[:,['state','positive']].groupby('state')
group_by_state_sum = group_by_state.sum()
group_by_state_sum

       positive
state
AK          364
AL         7158
AR         3321
AZ         7962
CA        50442
CO        15284
CT        28764
DE         4918
FL        34728
GA        27270
HI          618
IA         7884
ID         2015
IL        56055
IN        18630
KS         4449
KY         4708
LA        28711
MA        64311
MD        23472
ME         1123
MI        42356
MN         5730
MO         7835
MS         7212
MT          453
NC        10923
ND         1107
NE         4281
NH         2146
NJ       121190
NM         3411
NV         5227
NY       308314
OH        18743
OK         3748
OR         2579
PA        46971
RI         8962
SC         6258
SD         2525
TN        11891
TX        29229
UT         4828
VA        16901
VT          879
WA        14327
WI         7314
WV         1136
WY          559

In [13]:
# map for positive cases

In [9]:
# groupby and sum deaths
group_by_state = data.loc[:,['state','death']].groupby('state')
group_by_state_sum = group_by_state.sum()
group_by_state_sum

       death
state
AK         9
AL       279
AR        64
AZ       330
CA      2073
CO       777
CT      2339
DE       159
FL      1314
GA      1154
HI        16
IA       170
ID        63
IL      2457
IN      1175
KS       130
KY       240
LA      1927
MA      3716
MD      1192
ME        55
MI      3866
MN       371
MO       337
MS       281
MT        16
NC       399
ND        23
NE        70
NH        72
NJ      7538
NM       123
NV       243
NY     18610
OH      1002
OK       230
OR       104
PA      2354
RI       279
SC       256
SD        21
TN       204
TX       816
UT        46
VA       581
VT        50
WA       814
WI       327
WV        46
WY         7

In [ ]:
# map for deaths

In [10]:
# groupby and sum hospitalized
group_by_state = data.loc[:,['state','hospitalized']].groupby('state')
group_by_state_sum = group_by_state.sum()
group_by_state_sum

       hospitalized
state
AK              0.0
AL           1008.0
AR            414.0
AZ           1203.0
CA              0.0
CO           2697.0
CT           7758.0
DE              0.0
FL           5795.0
GA           5269.0
HI             70.0
IA              0.0
ID            178.0
IL              0.0
IN              0.0
KS            534.0
KY           1375.0
LA              0.0
MA           6169.0
MD           4718.0
ME            177.0
MI              0.0
MN           1096.0
MO              0.0
MS           1226.0
MT             61.0
NC              0.0
ND             86.0
NE              0.0
NH            262.0
NJ              0.0
NM            536.0
NV              0.0
NY          67180.0
OH           3634.0
OK            715.0
OR            591.0
PA              0.0
RI            937.0
SC           1110.0
SD            179.0
TN           1113.0
TX              0.0
UT            403.0
VA           3654.0
VT              0.0
WA              0.0
WI           1544.0
WV              0.0
WY             56.0

In [ ]:
# map for hospitalized